@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{    
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
.hero{
    font-size: 3rem;
}
.secondary{
    font-size: 1.12rem;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.links ul{
    display: flex;
    font-family:'Roboto', sans-serif;
    list-style: none;
}

li{
    margin: 3px;

}

.blue{
    padding: 3% 10%;
    color: white;
    background-color: #1f2937;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 16px;
    text-shadow: 0 1px 0 rgb(102, 116, 128);
}

.nav a:hover{
    color: #4ca2e4;
}

.top-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10%;
    
}
.left{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-shrink: 1;
}
.right{
    background-image: url(pics/overview.jpeg);
    height: 200px;
    width: 500px;
    flex-shrink: .5;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px;
    gap: 10px;
}
.mid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}
.mid-image{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    
}
#cards{
    width: 200px;
    height: 200px;
    border: solid 3px #265dab;
}

.grey{
    background-color: gainsboro ;
    color: #595858;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.quote{
    max-width: 800px;
}
.random{
    display: flex;
    justify-self: flex-end;
}

.sign{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    font-size: 1.3em;
    padding: 3% 1%;
}
.safety{
    background-color: #1f2937;
    height: auto;
}
.image{
    background-image: url(pics/safe.png);
    height: 400px;
    background-size: 100% 100%;
    max-width: 800px;
    margin:auto;
}
.path{
    background-image: url(pics/path.webp);
    height: 600px;
    min-width: 500px;
    background-size: 100% 100%;
    max-width: 800px;
    margin:auto;
}
.safe-list{
    list-style:circle;
    
    font-size: 25px;
    width: 50%;
}
.together{
    display: flex;
    margin: 1.2em;
    gap: 5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table{
    
    
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}
tr:nth-of-type(odd){
    background-color: #d3eef9;
}
th,td{ 
    padding: 0.5em;
    border: 3px solid #29374a;
}


.foundations{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 1em;;
}
.foundations p{
    width: 50%;
    margin-top:1em;
    font-size: 1.2em;
}

.red{
    background-image: url(pics/redcross.jpeg);
    height: 200px;
    width: 40%;
    background-repeat: no-repeat;
    flex-shrink: .5;
}
.church{
    background-image: url(pics/church.png);
    height: 300px;
    width: 50%;
    background-repeat: no-repeat;
    flex-shrink: .5;
}
table{
    background-color: white;
    
}
#relief-table{
    background-color: #1f2937;
    margin-top: 1.5em;
    padding-bottom: 1.5em;
}



