@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{    
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}
.hero{
    font-size: 3rem;
}
.secondary{
    font-size: 1.12rem;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.links ul{
    display: flex;
    font-family:'Roboto', sans-serif;
    list-style: none;
}

li{
    margin: 3px;

}

.blue{
    padding-left: 10%;
    padding-right: 10%;

    color: white;
    background-color: #1f2937;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.top-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10%;
    
}
.left{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-shrink: 1;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103, 107, 125);
    height: 200px;
    width: 500px;
    flex-shrink: .5;
}

.mid{
    display: flex;
   
}

.one{

    display: flex;
    flex-direction: column;
}
.cards{
    
    background-color: aliceblue;
    border: #3882F6;
    height: 100px;
    width: 80px;
}

button{
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.sign{
    color: white;
}



